<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCU359LyjZI8EECXOtu5Q7_EAAkWg7k_k</string>
	<key>GCM_SENDER_ID</key>
	<string>897866685307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalChat</string>
	<key>PROJECT_ID</key>
	<string>personal-chat-2e22c</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-chat-2e22c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897866685307:ios:cff38480eb649400303bde</string>
</dict>
</plist>